/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

a {
  text-decoration: none;
}
/* END CSS RESET */

/* FONTS */

@font-face {
  font-family: 'PT-Serif';
  src: url('./fonts/PTSerif-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT-Serif';
  src: url('./fonts/PTSerif-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'PT-Serif';
  src: url('./fonts/PTSerif-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'PT-Serif';
  src: url('./fonts/PTSerif-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

body {
  background-color: rgb(0, 0, 0);
}

header {
  height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0px;
}

h1 {
  font-family: PT-Serif;
  font-weight: bold;
}

nav {
  display: flex;
}

/* NAV BUTTON */
.nav-btn {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: PT-Serif,sans-serif;
  font-weight: bold;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  margin: 0 7px;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.nav-btn:after {
  background-color: rgba(254, 229, 225, 0.212);
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: 1;
}

.nav-btn:hover:after {
  transform: translate(0, 0);
}

.nav-btn:active {
  background-color: #ffdeda;
  outline: 0;
}

.nav-btn:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .nav-btn {
    padding: 0 40px;
  }
}

.hero {
  height: 80vh;
  width: 100%;
  background: url('img/restaurant.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.presentation {
  height: 100vh;
  display: flex;
  align-items: center;
}

.presentation h2 {
  font-size: 5rem;
  font-family: PT-Serif;
  font-weight: normal;
  font-style: italic;
}

.testimony {
  height: 100vh;
  width: 100%;
  font-family: PT-Serif;
  background: url('img/restaurant.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

blockquote {
  font-size: 3rem;  
  backdrop-filter: blur(5px);
  text-decoration: underline overline;
}

cite {
  font-size: 2rem;
}

/* MENU PAGE */

.card {
  padding-top: 50px;
  width: 400px;
  perspective: 1000px;
}

.card .menu-el {
  width: 100%;
  display: block;
  will-change: transform;
  transition: transform 0.2s ease-out;
  transform-style: preserve-3d;
  border-radius: 10px;
}

.menu-title {
  font-size: 2.5rem;
}

.menu-text {
  font-style: italic;
}

/* ABOUT Page */

table {
  padding-bottom: 30px;
}

td {
  padding: 10px;
}

.today {
  font-weight: bold;
  background-color: #ff0000;
  color: red;
}

iframe {
  margin-bottom: 30px;
  width: 100%;
  max-width: 500px;
  height: 300px;
}

/* Footer */

footer {
  height: 50px;

  background-color: #fee6e32f;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
}

.github-logo {
  transition: 0.1s ease-in-out;
  height: 30px;
  margin-left: 20px;
}
.github-logo:hover {
  transform: scale(1.1);
}